*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
/local.properties

# IDEA/Android Studio ignores
*.ipr
*.iws
/.idea/*
# IDEA/Android Studio Ignore exceptions
!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyleSettings.xml
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml
